<ion-view title="Inicio" id="page2" style="background-color:#7E1616;">
  <ion-content padding="true" class="has-header">
    <h1 id="inicioTabDefaultPage-heading1" style="color:#FFF;font-weight:lighter;text-align:center;">Seja bem vindo !</h1>
    <div>
      <img src="img/bcwXFr1nRBetrzcQnFN9_Amexicana.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <form id="inicioTabDefaultPage-form9" class="list">
      <label class="item item-input" id="inicioTabDefaultPage-input11">
        <span class="input-label">Código de Abertura: {{cliente}} </span>
        <input type="text" placeholder="">
      </label>
    </form>

    <label class="item item-input item-select">
    <div class="input-label">
      Mesas
    </div>
    <select ng-model="singleSelect"ng-change="search(singleSelect)">
       <option ng-repeat ="mesa in Mesas">{{mesa.Id}}</option>
    </select>
  </label>
    <a ui-sref="tabsController.mesasDefaultPage" id="inicioTabDefaultPage-button5" style="text-align:left;" ng-click="postAbertura();" class="button button-balanced  button-block icon-right ion-android-checkmark-circle">Abrir Mesa!</a>
  </ion-content>
</ion-view>
